nav{
  width: 100vw;
  height: 8vh;
  background: linear-gradient(0deg, #DADADA 0%, #FFFFFF 100%);
  margin: 0;
  padding: 0;
}



.nav-bar{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  font-size: 2rem;
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-item a{
  text-decoration: none;
  color: black;
}
.nav-search {

}
.search-in {
  font-size: 2rem;
  width: 15vw;
  border-radius: 30px;
  border-width: 5px;
  border-color: #00D96F;
  box-sizing: border-box;
  border-style: solid;
  background: inherit;
}
.search-in:focus {
  outline: none;
  border-color: #00e865;
}
@media screen and (max-width: 1200px) {
  .search-in {
    display: none;
  }
}


@media screen and (max-width: 920px) {

  .logo {
    position: absolute;
    top: 2%;

    margin-left: 42vw;
  }
  .nav-bar {
    position: fixed;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(0deg, #DADADA 0%, #FFFFFF 100%);

  }
  .nav-links{
  flex-direction: column;
  height: 100vh;
  width: 100vw;

 }

 .line {
   width: 30px;
   height: 3px;
   background: #000;
   margin: 5px;
 }
 nav {
   position: relative;
 }
 .hamburger {
   position: absolute;
   cursor: pointer;
   right: 5%;
   top: 50%;
   transform: translate(-5%, -50%);
   z-index: 2;
 }
}
a.active {
  color: #00D96F;
}
